Hello there 👋

Thanks for coming to my profile. Here is a few things to know me better:

[![Twitter: therealsaniales](https://img.shields.io/twitter/follow/therealsaniales?style=social)](https://twitter.com/ThaiiBraga)
[![GitHub @saniales](https://img.shields.io/github/followers/saniales?label=follow&style=social)](https://github.com/saniales)

[![Linkedin: Alessandro Sanino](https://img.shields.io/badge/-Alessandro%20Sanino-blue?style=flat-square&logo=Linkedin&logoColor=white&link=https://www.linkedin.com/in/alessandrosanino)](https://www.linkedin.com/in/alessandrosanino)
[![Facebook: Alessandro Sanino](https://img.shields.io/badge/-Alessandro%20Sanino-blue?style=flat-square&logo=Facebook&logoColor=white&link=https://www.facebook.com/therealsaniales)](https://www.facebook.com/therealsaniales)
[![Instagram: therealsaniales](https://img.shields.io/badge/-therealsaniales-purple?style=flat-square&logo=Instagram&logoColor=white&link=https://instagram.com/therealsaniales)](https://instagram.com/therealsaniales)

I am a cloud and blockchain architect living in **Bandito** (Cuneo area, Italy) and I love **open source** and **remote-first** jobs. Creator and inventor of the [Zero Penny Architecture](https://github.com/zero-penny-architecture) pattern (You can find more info [**HERE**](https://medium.com/@saniales/the-0-penny-architecture-explained-how-i-created-a-complete-development-environment-composing-4f1318c71a17))

## Preferred Tech Stack

| Stack Type | Elements |
| ---------- | -------- |
{{#preferred_stack}}
| {{group}} | {{#items}} ![{{name}}](https://img.shields.io/badge/-{{encoded_name}}-{{color}}?style=flat-square&logo={{logo}}&logoColor={{logo_color}}) {{/items}} |
{{/preferred_stack}}

### Wanna know some of my projects I am most proud of? Check out

- My secondary profile: [**@thebotguys**](https://github.com/thebotguys)
- The Zero Penny Architecture profile: [**@zero-penny-architecture**](https://github.com/zero-penny-architecture)

Plus some cool stuff I have here:

| URL | Project Name | Description | Tech Stack |
| --- | ------------ | ----------- | ---------- |
{{#projects}}
| [**URL**]({{url}}) | {{name}} | {{description}} | {{#tech_stack_items}}![{{name}}](https://img.shields.io/badge/-{{encoded_name}}-{{color}}?style=flat-square&logo={{logo}}&logoColor={{logo_color}}){{/tech_stack_items}} |
{{/projects}}
